@media (320px <= width <= 480px) and (max-height: 667px){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(7%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-container h2{
        color: #272727;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .contact-container .contact-text{
        font-size: 1rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (320px <= width <= 480px) and (min-height: 668px){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(7vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        color: #272727;
        text-align: center;
    }
    
    .contact-container .contact-text{
        font-size: 1.2rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (481px <= width <= 768px){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(10%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        color: #272727;
        text-align: center;
        margin-top: 30px;
    }
    
    .contact-container .contact-text{
        font-size: 1.3rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (481px <= width <= 768px) and ( orientation: landscape){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(5%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        color: #272727;
        text-align: center;
        margin-top: -30px;
        font-size: 1.5rem;
    }
    
    .contact-container .contact-text{
        font-size: 1.1rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (769px <= width <= 1024px){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(19%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        color: #272727;
        text-align: center;
        margin-top: 30px;
    }
    
    .contact-container .contact-text{
        font-size: 1.3rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }


}
@media (769px <= width <= 1024px) and ( orientation: landscape ){

    .contact-container{
        width: 90vw;
        margin: 0 auto;
        margin-top: calc(-5%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        color: #272727;
        text-align: center;
        margin-top: 30px;
    }
    
    .contact-container .contact-text{
        font-size: 1.3rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (1025px <= width <= 1200px){

}

@media (1025px <= width <= 1200px) and ( orientation: landscape ){

    .contact-container{
        width: 60vw;
        margin: 0 auto;
        margin-top: calc(8%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        font-size: 2rem;
        color: #272727;
    }
    
    .contact-container .contact-text{
        font-size: 1.3rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

@media (1201px <= width <= 1920px){

    .contact-container{
        width: 60vw;
        margin: 0 auto;
        margin-top: calc(3%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container h2{
        font-size: 2rem;
        color: #272727;
    }
    
    .contact-container .contact-text{
        font-size: 1.3rem;
        text-align: center;
        color: #19191990;
        margin-top: 10px;
    }

}

